*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: Arial, sans-serif;
}
body{
    background-color:#DDDAD5;
}
.container{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightseagreen;
    text-align: center;
}
input{
    height: 50px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10px 10px;
    padding: 10px;
    font-size: 20px;
    text-align:right;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: lightseagreen;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    width: 60px;
    font-weight: bold;
    font: 20px Arial, sans-serif;

}
.btn:hover{
    background-color: #2e8b57;
}
h1{
    margin: 10px;
    color: #fff;
}